---
- hosts: all
  become: true
  vars:
    saturn_home: /home/joris/workspaces/smartworkx/home/infrastructure/saturn

  tasks:
    - name: Ensure Saturn infrastructure directory exists
      file:
        path: "{{ saturn_home }}"
        state: directory
        owner: joris
        group: joris
        mode: '0755'

    - name: Copy dnsmasq configuration directory
      ansible.posix.synchronize:
        src: "{{ playbook_dir }}/../dnsmasq-config/"
        dest: "{{ saturn_home }}/dnsmasq-config"
        mode: push
        delete: false
        recursive: true
        rsync_opts:
          - "--exclude=.gitignore"

    - name: Copy docker-compose.yml
      copy:
        src: "{{ playbook_dir }}/../docker-compose.yml"
        dest: "{{ saturn_home }}/docker-compose.yml"
        owner: joris
        group: joris
        mode: '0644'

    - name: Restart dnsmasq container
      become: false
      delegate_to: localhost
      ansible.builtin.shell:
        cmd: "docker compose restart dnsmasq"
        chdir: "{{ playbook_dir }}/.."
      environment:
        DOCKER_HOST: ssh://joris@saturn.local
