[Unit]
Description=Run Venus AI Node Backup every 6 hours
Requires=venus-backup.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=6h
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
